<!doctype html>
<html>
<head>
  <title>Network | Basic usage</title>

  <script type="text/javascript" src="vis.min.js"></script>
  <link href="vis.min.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    #data {
      width: 1200px;
      height: 800px;
      border: 1px solid lightgray;
    }
  </style>
</head>
<body>
<div id="data"></div>
<script type="text/javascript">
    //Aqui fica o objeto gerado em AFD.toJavascript()
    var data = {{data}};
    //Daqui pra baixo sao configuracoes da biblioteca visjs
    // create an array with nodes
    var nodes = new vis.DataSet(data.vertices);
    // create an array with edges
    var edges = new vis.DataSet(data.arestas);

  
  var container = document.getElementById('data');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
    layout: {
        hierarchical: {
            direction: 'UD'
        }
    }
  };
  var network = new vis.Network(container, data, options);
</script>
</body>
</html>